#container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 700px;
    height: 700px;
}

/*
body {
    display: flex;
    justify-content: center;
    min-width: 675px;
}
*/

#grid-size {
    padding: 5px;
    margin-bottom: 10px;
}